@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #EC252E;
  --accent-color: #FFB400;
  --dark-color: #334a52;
  --light-color: #96afb8;
  --danger-color: #FF355A;
  --success-color: #47D767;
  --info-color: #2F86E7;
  --warning-color: #FEC120;
}
